wasabi_venv/
wasabi_main/tasks/linkedin_task/user_profiles.json
wasabi_main/tasks/indeed_task/user_profiles.json
__pycache__/
wasabi_main/tasks/indeed_task/__pycache__
wasabi_main/tasks/indeed_task/__pycache__
screenshots
